[user]
	name = Jim McMaster
	email = jim_mcmaster@medisked.com
[difftool "sourcetree"]
	cmd = 'C:/Program Files/Araxis/Araxis Merge/compare.exe' \"$LOCAL\" \"$REMOTE\"
[difftool "araxis"]
	cmd = 'C:/Program Files/Araxis/Araxis Merge/compare.exe' \"$LOCAL\" \"$REMOTE\"	
[mergetool "sourcetree"]
	cmd = 'C:/Program Files/Araxis/Araxis Merge/compare.exe' -wait -merge -3 \"$LOCAL\" \"$BASE\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = true
[mergetool "araxis"]
     path = C:/Program Files/Araxis/Araxis Merge/compare.exe
     trustExitCode = true
[core]
	hooksPath = C:\\Users\\Medisked\\git_hooks\\git_hooks
	editor = vim
[diff]
	tool = araxis
[merge]
	tool = araxis
[gui]
	recentrepo = C:/Projects/connectdev
