" .ideavimrc
" Jim McMaster, 2021
command! Qba :action CloseAllEditorsButActive
command! Ql :action CloseAllToTheLeft
command! Qr :action CloseAllToTheRight
command! Qu :action CloseAllUnpinnedEditors
command! Rc e c:/users/jmcmaster/.ideavimrc
command! Run :action Run
command! Scratch :action NewScratchBuffer
command! ScratchEx :action Scratch.ExportToScratch
command! ScratchF :action NewScratchFile
command! Src source c:/users/jmcmaster/.ideavimrc
command! Stop :action Stop
let mapleader = " "
nmap <c-h> <Action>(SplitHorizontally)
nmap <c-i> <Action>(Forward)
nmap <c-j> <Action>(SplitVertically)
nmap <c-o> <Action>(Back)
nmap <leader><leader> <Action>(AceAction)
nmap <leader>b <Action>(build)
nmap <leader>di <Action>(ImmediateWindowOpen)
nmap <leader>f <Action>(FindInPath)
nmap <leader>s <Action>(SearchEverywhere)
nmap <s-h> <Action>(PrevSplitter)
nmap <s-j> <Action>(MethodDown)
nmap <s-k> <Action>(MethodUp)
nmap <s-l> <Action>(NextSplitter)
nmap gc <Action>(GotoClass)
nmap gd <Action>(GotoDeclaration)
nmap gf <Action>(GotoFile)
nmap gh <Action>(SearchEverywhere)
nmap gi <Action>(GotoImplementation)
nmap gs <Action>(GotoSymbol)
nmap gu <Action>(GotoUsage)
set clipboard=unnamed
set hlsearch
set ideajoin
set ignorecase
set incsearch
set number relativenumber