" .ideavimrc
" Jim McMaster, 2021

" leader
let mapleader = " "

" settings
set clipboard=unnamed
set hlsearch
set ideajoin
set ignorecase
set incsearch
set number relativenumber

" jump
nmap <leader><leader> :action AceAction<cr>
nmap <s-j> :action MethodDown<cr>
nmap <s-k> :action MethodUp<cr>

" goto
nmap gc :action GotoClass<cr>
nmap gd :action GotoDeclaration<cr>
nmap gf :action GotoFile<cr>
nmap gi :action GotoImplementation<cr>
nmap gs :action GotoSymbol<cr>
nmap gu :action GotoUsage<cr>

" find
nmap <leader>. :action FindAction<cr>
nmap <leader>f :action SearchEverywhere<cr>

" splits
nmap <s-h> :action PrevSplitter<cr>
nmap <s-l> :action NextSplitter<cr>
nmap <c--> :action SplitHorizontally<cr>
nmap <c-|> :action SplitVertically<cr>

" build
nmap <leader>b :action build<cr>

" debug
nmap <leader>di :action ImmediateWindowOpen<cr>

" commands
command! Qba :action CloseAllEditorsButActive<cr>
command! Ql :action CloseAllToTheLeft<cr>
command! Qr :action CloseAllToTheRight<cr>
command! Qu :action CloseAllUnpinnedEditors<cr>
command! Rc e c:/users/jmcmaster/.ideavimrc
command! Run :action Run
command! Stop :action Stop
command! Src source c:/users/jmcmaster/.ideavimrc