alias cl="clear && ls"
alias commit="git commit"
alias cs="clear && git status"
alias ga="git add"
alias gc="git checkout"
alias gcdd="git checkout -- ."
alias gcm="git commit -m"
alias gd="git diff"
alias gdt="git difftool"
alias gf="git fetch"
alias gl="git log"
alias gp="git pull"
alias gs="git status"
alias gtree="git log --graph --oneline --decorate"
alias home="cd /mnt/c/users/JimMcMaster"
alias lineblame="git blame -L"
alias master="git checkout master && git pull"
alias onedrive="cd \"${onedrive}\""
alias pth='echo $PATH | tr : "\n" | less'
alias py="python3"
alias rgil="rg -il"
alias t="task"
alias ta="task add"
alias tah"task add pri:H"
alias tap="task append"
alias td="task done"
alias tickets="cd \"${ticketDir}\""
alias tl="task list"
alias tm="task modify"
alias tmux="TERM=screen-256color-bce tmux"
alias vim="nvim"
alias vimrc="vim ~/.vimrc"
alias winpy='/mnt/c/Program\ Files\ \(x86\)/Microsoft\ Visual\ Studio/Shared/Python37_64/python.exe'
