alias choco="choco.exe"
alias cl="clear && ls"
alias commit="git commit"
alias cs="clear && git status"
alias dotnet="dotnet.exe"
alias f="sudo find / -path /mnt/c -prune -o -iname "
alias fd="cd ~ \
  && cd \$(find \
          * -type d \
          -not -path '*node_modules*' \
          -not -path '*.git*' \
          -not -path '*.exercism*' \
          | fzf)"
alias ga="git add"
alias gbl="git branch --list"
alias gap="git add -p"
alias gc="git checkout"
alias gcdd="git checkout -- ."
alias gcm="git commit -m"
alias gd="git diff"
alias gdd="git difftool --dir-diff --no-symlinks"
alias gdt="git difftool"
alias gf="git fetch"
alias gl="git log"
alias gp="git pull"
alias gs="git status"
alias gsa="git stash apply"
alias gsl="git stash list"
alias gsp="git stash pop"
alias gtree="git log --graph --oneline --decorate"
alias home="cd /mnt/c/users/jcmcmaster"
alias lineblame="git blame -L"
alias master="git checkout master && git pull"
alias msb="msbuild.exe -verbosity:m"
alias onedrive="cd \"${onedrive}\""
alias pth='echo $PATH | tr : "\n" | less'
alias py="python3"
alias rg="rg --color=always"
alias rgil="rg -il"
alias sau="sudo apt update && sudo apt upgrade"
alias sr="/mnt/c/Program\ Files/SlickRun/sr.exe"
alias sz="source ~/.zshrc"
alias t="task"
alias ta="task add"
alias tah"task add pri:H"
alias tap="task append"
alias td="task done"
alias tdel="task delete"
alias terraform="terraform.exe"
alias tickets="cd \"${ticketDir}\""
alias tko="tmux kill-server"
alias tl="task list"
alias tm="task modify"
alias tn="task next"
alias tmux="TERM=screen-256color-bce tmux"
alias vim="nvim"
alias vimrc="vim ~/.vimrc"
alias yr="yarn run"
