[user]
	email = jmcmaster008@gmail.com
	name = Jim McMaster
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/libexec/git-core/git-credential-manager.exe
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[difftool "vscode"]
    cmd = "code --wait --diff $LOCAL $REMOTE"
[core]
    editor = vim
    autocrlf = input
    excludesfile = /home/phrosty/.gitignore
