#gen
alias cl="clear && ls"
alias cs="clear && git status"
alias home="cd /mnt/c/users/JimMcMaster"
alias py="python3"
alias pth='echo $PATH | tr : "\n" | less'
alias onedrive="cd \"${onedrive}\""
alias tickets="cd \"${ticketDir}\""
alias rgil="rg -il"
alias vimrc="vim ~/.vimrc"
alias tmux="TERM=screen-256color-bce tmux"

#projects
alias coor="cd ${projects}/coordinate"
alias coordb="cd ${projects}/coordinate_database"
alias coornet="cd ${projects}/coordinate_net"
alias coorws="cd ${projects}/coordinate_webservice"
alias cus="cd ${projects}/customer_portals"
alias mc="cd ${projects}/connectdev"
alias mcdb="cd ${projects}/connect_database"
alias mcnet="cd ${projects}/connect_net"
alias ssrs="cd ${projects}/ssrs-reports"

#git
alias commit="git commit"
alias ga="git add"
alias gc="git checkout"
alias gcm="git commit -m"
alias gd="git diff"
alias gdt="git difftool"
alias gf="git fetch"
alias gl="git log"
alias gs="git status"
alias gcdd="git checkout -- ."
alias gp="git pull"
alias gtree="git log --graph --oneline --decorate"
alias master="git checkout master && git pull"
alias lineblame="git blame -L"

#taskwarrior
alias t="task"
alias tl="task list"
alias tlcoorse="task list project:coorse"
alias ta="task add"
alias tah"task add pri:H"
alias tacoorse="task add project:coorse"
alias tm="task modify"
alias tap="task append"
alias td="task done"
