alias cl="clear && ls"
alias commit="git commit"
alias coor="cd ${projects}/coordinate"
alias coordb="cd ${projects}/coordinate_database"
alias coornet="cd ${projects}/coordinate_net"
alias coorws="cd ${projects}/coordinate_webservice"
alias cs="clear && git status"
alias cus="cd ${projects}/customer_portals"
alias f="sudo find / -path /mnt/c -prune -o -iname "
alias ga="git add"
alias gap="git add -p"
alias gc="git checkout"
alias gcdd="git checkout -- ."
alias gcm="git commit -m"
alias gd="git diff"
alias gdt="git difftool"
alias gf="git fetch"
alias gl="git log"
alias gp="git pull"
alias gs="git status"
alias gsa="git stash apply"
alias gsl="git stash list"
alias gsp="git stash pop"
alias gtree="git log --graph --oneline --decorate"
alias home="cd /mnt/c/users/JimMcMaster"
alias lineblame="git blame -L"
alias master="git checkout master && git pull"
alias mc="cd ${projects}/connectdev"
alias mcdb="cd ${projects}/connect_database"
alias mcnet="cd ${projects}/connect_net"
alias msb="msbuild.exe -verbosity:m"
alias onedrive="cd \"${onedrive}\""
alias pth='echo $PATH | tr : "\n" | less'
alias py="python3"
alias rg="rg --color=always"
alias rgil="rg -il"
alias ssrs="cd ${projects}/ssrs-reports"
alias t="task"
alias ta="task add"
alias tacoorse="task add project:coorse"
alias tah"task add pri:H"
alias tap="task append"
alias td="task done"
alias tickets="cd \"${ticketDir}\""
alias tl="task list"
alias tlcoorse="task list project:coorse"
alias tm="task modify"
alias tmux="TERM=screen-256color-bce tmux"
alias vim="nvim"
alias vimrc="vim ~/.vimrc"
