[user]
	email = jmcmaster008@gmail.com
	name = Jim McMaster
[credential]
	helper = cache --timeout=7200
[diff]
	tool = vimdiff
[core]
	editor = vim
	autocrlf = input
	excludesfile = /home/jim_mcmaster/.gitignore
