[user]
  email = jmcmaster008@gmail.com
  name = Jim  

[diff]
  tool = meld

[difftool "meld"]
  cmd = "\"C:/Program Files/Meld/Meld.exe\" \"$LOCAL\" \"$REMOTE\""

[merge]
  tool = meld

[mergetool "meld"]
  cmd = "\"C:/Program Files/Meld/Meld.exe\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\""

[alias]
  a = add
  aa = add --all
  acp = !git add -A && git commit -m "$*" && git push
  b = branch
  c = checkout
  cdd = checkout -- .
  cm = commit --message
  d = diff
  dc = diff --cached
  dd = difftool --dir-diff
  ddc = difftool --dir-diff --cached
  f = fetch
  l = log
  s = status
